.intro {
    height: default;
}

.title {
    text-shadow: 0px 0px 8px #000000;
}

.img {
    opacity: 0.9;
}

.item {
    color: var(--theme-color);
    margin: 5px;
}

.flex {
    display: flex;
    align-items: center;
}
